.container {
    display: flex;
    flex-direction: column;
}

.scores {
    display: flex;
    justify-content: space-between;
}

.scores > .player {

}

.scores > .computer {
    
}

.versus {
    display: flex;
    gap: 32px;
}

.versus > .player {
    
}

.versus > .computer {
    
}

.game-text {
    text-align: center;
}

.options {
    display: flex;
    gap: 16px;
}

button {

}