@font-face {
    font-family: VT323;
    src: url(./font/VT323-Regular.ttf);
}

@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
      filter: drop-shadow(0 10px 5px grey);
    }
    50% {
      transform: translateY(-10px);
      filter: drop-shadow(0 20px 5px grey);
    }
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
}

.scores {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.scores > div {
    font-family: VT323;
    font-size: 25px;
    margin:auto;
}

.versus {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    flex: 0 1 100px;
}

.versus > img {
    flex: 0 1 100px;    
    image-rendering: pixelated;
    
    animation: MoveUpDown 2s linear infinite;
}

.versus > .middle {
    max-height: 55.17px;
    filter: none;
    animation: none;
}

.game-text {
    text-align: center;
    font-family: VT323;
    font-size: 25px;
}

.options {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.options > img {
    flex: 0 1 100px;
    image-rendering: pixelated;
    border: 5px solid black;
    border-radius: 20px;
}

.options > img:hover {
    background-color: red;
}

.buttons {
    display: flex;
    justify-content: center;
    flex: 0 1 36.5px;
}

.submit {
    image-rendering: pixelated;
}